@tailwind base;
@tailwind components;
@tailwind utilities;

.glitch {
  position: relative;
  text-shadow: 1px 1px 0px #0ffbf9, -1px -1px 0px #cc0f39;
  animation: noise-anim 5s infinite linear alternate-reverse;
  transition: text-shadow 0.3s;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    animation: noise-anim 7s infinite linear alternate-reverse;
  }
}

@layer base {
  :root {
    --icon-item-hidden: auto;
    --icon-item-visible: auto;
  }

  @media screen and (min-width: 1024px) {
    :root {
      --icon-item-hidden: 0;
      --icon-item-visible: auto;
    }
  }
}

@keyframes noise-anim {
  0%, 20%, 53%{
    text-shadow: 0.8px 0.8px 0px #0ffbf9, -0.8px -0.8px 0px #cc0f39;
    transform: skewX(-1deg);
  }
  80%, 100% {
    text-shadow: 0.8px 0.8px 0px #0ffbf9, -0.8px -0.8px 0px #cc0f39;
    transform: skewX(0deg);
  }
  40% {
    text-shadow: 0.6px 0.6px 0px #0ffbf9;
    text-shadow: -0.8px -0.8px 0px #cc0f39;
    transform: skew(0.5deg);
  }
  60% {
    text-shadow: 0.8px 0.8px 0px #0ffbf9;
    text-shadow: -0.6px -0.6px 0px #cc0f39;
  }
}

.mask {
  -webkit-mask-image: url('/vercel.svg');
  mask-image: url('/vercel.svg');
  mask-repeat: no-repeat;
  mask-position: bottom;
}

@keyframes loading-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.loading-bg {
  background: linear-gradient(270deg, #0ffbf9, #cc0f39);
  background-size: 200% 200%;
  animation: loading-bg 3s infinite ease;
}