.landingpage {
    display: flex;
    align-items: center;
    background-color: var(--color-background-2);
    margin-bottom: 5%;
}

.landingpage-text {
    display: flex;
    flex-flow: column;
    color: var(--color-white);
    max-width: 400px;
    justify-content: center;
    margin: 0 auto;
}

.landingpage-image {
    width: 50vw;
    height: 70vh;
    object-fit: cover;
}

.landingpage-description {
    margin: 1.5em 0;
    line-height: 150%;
}

.landingpage-title {
    font-family: var(--font-family-title);
    font-weight: 600;
    font-size: 2em;
    color: var(--color-cyan);
}

.landingpage-link {
    margin: 0 auto 0 0;
    color: var(--color-cyan);
    border: 2px solid var(--color-cyan);
    padding: 0.8em;
    border-radius: 1em;
}

.landingpage-link:hover {
    color: var(--color-green);
    border-color: var(--color-green);
}

.landingpage-link:active {
    background-color: var(--color-background);
}
