.navbar {
    background-color: var(--color-background);
    color: var(--color-white);
    padding: 0 5vw;
    height: 53px;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: 1em;
    font-weight: 500;
    border-bottom: 2px solid var(--color-foreground);
}

.menu-item {
    display: flex;
    height: 53px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid rgba(1, 1, 1, 0);
}

.menu-item:hover {
    border-bottom: 2px solid var(--color-cyan);
}

.navbar h1 {
    font-size: 1.3em;
    font-weight: 600;
}

.navbar a {
    color: var(--color-white);
}

.navbar li {
    list-style: none;
}

#find-me ul {
    display: none;
}

#find-me.hovering ul {
    position: absolute;
    padding: 1em;
    padding-right: 1.8em;
    top: 3.3em;
    left: 18em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: flex;
    flex-flow: column;
    gap: 0.8em;
    font-weight: 400;
    background-color: var(--color-background-2);
}

#find-me.hovering a {
    color: var(--color-foreground);
}

#find-me.hovering a:hover {
    color: var(--color-cyan);
}

.navbar-menu {
    display: flex;
    gap: 3em;
}
