.navbar{
    background-color: var(--color-dark-green);
    color: var(--color-white);
    padding: 0 5vw;
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
}

.navbar a {
    color: var(--color-white);
}

.navbar-menu{
    display: flex;
    align-items: baseline;
    gap: 2em;

}

.menu-item{
    font-weight: 500;
}

.menu-brand{
    font-family: var(--font-family-title);
    font-weight: 800;
    font-size: 1.5em;
}