.project-card {
    width: 300px;
    align-items: center;
    padding: 1em;
    border: 1px solid var(--color-foreground);
    border-radius: 2em;
    height: 250px;
}

.project-card:hover {
    border-color: var(--color-cyan);
}

.project-card:hover .card-title {
    color: var(--color-cyan);
}

.project-card:hover .card-img {
    border-color: var(--color-cyan);
}

.project-card img {
    width: 100%;
    border-radius: 0.6em;
}

.card-title {
    margin-top: 0.5em;
    font-size: 1.3em;
    font-weight: 600;
}

.card-description {
    line-height: 120%;
    margin-top: 0.5em;
} 

.project-list {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.card-text-container {
    overflow-y: scroll;
    height: 90px;
}

.card-text-container::-webkit-scrollbar {
    width: 0px;
}

.hidden-info {
    position: absolute;
    display: none;
    flex-flow: column-reverse;
    justify-content: space-between;
    height: 155px;
}

.hover .hidden-info {
    display: flex;
}

.card-techs {
    display: flex;
    gap: 10px;
    max-width: 200px;
    flex-wrap: wrap;
}

.card-links {
    display: flex;
    gap: 10px;
}

.tech-item, .card-links a {
    color: var(--color-cyan);
    font-size: 1.2em;
    font-weight: 500;
    border: 2px solid var(--color-cyan);
    padding: 0.2em;
    border-radius: 0.3em;
    background-color: var(--color-background);
}
